<div class="container h-75">
    <div class="row">    

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @software.product.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @software.product.description %>
</p>

      <p class="fs-4 p-2">
  <strong>Preço:</strong>
  <%= @software.product.price %>
</p>

      <p class="fs-4 p-2">
  <strong>Fornecedor:</strong>
  <%= @software.product.vendor.name %>
</p>

      <p class="fs-4 p-2">
  <strong>Versão:</strong>
  <%= @software.version %>
</p>

      <p class="fs-4 p-2">
  <strong>Linguagem:</strong>
  <%= @software.language %>
</p>

      <p class="fs-4 p-2">
  <strong>Categoria:</strong>
  <%= @software.category %>
</p>

<%= link_to 'Alterar', edit_software_path(@software), :class => "btn btn-warning text-white col-2 p-2 m-2" %>
<%= link_to 'Voltar', softwares_path, :class => "btn btn-secondary text-white col-2 p-2 m-2" %>
  </div>
</div>