<div class="container h-75">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1 class="col-10">Fornecedor</h1>
    <%= link_to 'Novo Fornecedor', new_vendor_path, :class => "btn btn-primary text-white col-2 align-self-end" %>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Endereço</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @vendors.each do |vendor| %>
          <tr>
            <td><%= vendor.name %></td>
            <td><%= vendor.cnpj %></td>
            <td><%= vendor.address_id %></td>
            <td><div class="d-flex btn-group" role="group" aria-label="Basic example">
                  <%= link_to 'Info', vendor,  :class => "btn btn-success text-white" %>
                  <%= link_to 'Alterar', edit_vendor_path(vendor),  :class => "btn btn-warning text-white" %>
                  <%= link_to 'Remover', vendor, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-danger text-white" %>
                </div>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
