<div class="container h-75">
    <div class="row">    
      <p id="notice"><%= notice %></p>

      <p class="fs-4 p-2">
        <strong>Setor:</strong>
        <%= @address.district %>
      </p>

      <p class="fs-4 p-2">
        <strong>Complemento:</strong>
        <%= @address.complement %>
      </p>

      <p class="fs-4 p-2">
        <strong>Cep:</strong>
        <%= @address.cep %>
      </p>

      <p class="fs-4 p-2">
        <strong>Cidade:</strong>
        <%= @address.city %>
      </p>

      <p class="fs-4 p-2">
        <strong>Pais:</strong>
        <%= @address.country %>
      </p>

      <%= link_to 'Alterar', edit_address_path(@address), :class => "btn btn-warning text-white col-2 p-2 m-2" %>
      <%= link_to 'Voltar', addresses_path, :class => "btn btn-secondary text-white col-2 m-2" %>
  </div>
</div>